<?xml version="1.0" ?>
<robot name="autonomous_vehicle">
  <!-- materials section -->
  <material name="offwhite">
    <color rgba="1.0 1.0 0.8941176470588236 1.0"/>
  </material>
  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>
  <material name="aquablue">
    <color rgba="0.00784313725490196 0.8470588235294118 0.9137254901960784 1.0"/>
  </material>

  <!-- links section -->
  <link name="base_footprint"/>
  <link name="base_link"/>

  <link name="chassis">
    <visual>
      <geometry>
        <box size="0.7 0.25 0.12"/>
      </geometry>
      <material name="offwhite"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.7 0.25 0.12"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="15"/>
      <inertia ixx="0.1711" ixy="0.0" ixz="0.0" iyy="0.6305" iyz="0.0" izz="0.7656"/>
    </inertial>
  </link>

  <link name="front_bumper_center">
    <visual>
      <geometry>
        <box size="0.03 0.34 0.07"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.03 0.34 0.07"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.3"/>
      <inertia ixx="0.0010" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0010"/>
    </inertial>
  </link>

  <link name="front_bumper_left">
    <visual>
      <geometry>
        <box size="0.03 0.14 0.07"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.03 0.14 0.07"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.2"/>
      <inertia ixx="0.0003" ixy="0.0" ixz="0.0" iyy="0.00003" iyz="0.0" izz="0.0003"/>
    </inertial>
  </link>

  <link name="front_bumper_right">
    <visual>
      <geometry>
        <box size="0.03 0.14 0.07"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.03 0.14 0.07"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.2"/>
      <inertia ixx="0.0003" ixy="0.0" ixz="0.0" iyy="0.00003" iyz="0.0" izz="0.0003"/>
    </inertial>
  </link>

  <link name="rear_bumper_center">
    <visual>
      <geometry>
        <box size="0.03 0.34 0.07"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.03 0.34 0.07"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.3"/>
      <inertia ixx="0.0010" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0010"/>
    </inertial>
  </link>

  <link name="rear_bumper_left">
    <visual>
      <geometry>
        <box size="0.03 0.14 0.07"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.03 0.14 0.07"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.2"/>
      <inertia ixx="0.0003" ixy="0.0" ixz="0.0" iyy="0.00003" iyz="0.0" izz="0.0003"/>
    </inertial>
  </link>

  <link name="rear_bumper_right">
    <visual>
      <geometry>
        <box size="0.03 0.14 0.07"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.03 0.14 0.07"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.2"/>
      <inertia ixx="0.0003" ixy="0.0" ixz="0.0" iyy="0.00003" iyz="0.0" izz="0.0003"/>
    </inertial>
  </link>

  <link name="left_side_bumper">
    <visual>
      <geometry>
        <box size="0.32 0.03 0.07"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.32 0.03 0.07"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.15"/>
      <inertia ixx="0.00005" ixy="0.0" ixz="0.0" iyy="0.00035" iyz="0.0" izz="0.00035"/>
    </inertial>
  </link>

  <link name="right_side_bumper">
    <visual>
      <geometry>
        <box size="0.32 0.03 0.07"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.32 0.03 0.07"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.15"/>
      <inertia ixx="0.00005" ixy="0.0" ixz="0.0" iyy="0.00035" iyz="0.0" izz="0.00035"/>
    </inertial>
  </link>

  <link name="sonar_front_bumper_center">
    <visual>
      <origin xyz="0 0 0" rpy="0 1.5707 0"/>
      <geometry>
        <cylinder length="0.02" radius="0.015"/>
      </geometry>
      <material name="aquablue"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 1.5707 0"/>
      <geometry>
        <cylinder length="0.02" radius="0.015"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001"/>
    </inertial>
  </link>
  <gazebo reference="sonar_front_bumper_center">
    <sensor name="sonar_front_bumper_center" type="gpu_lidar">
      <lidar>
        <scan>
          <horizontal>
            <samples>7</samples>
            <resolution>1</resolution>
            <min_angle>-0.15</min_angle>
            <max_angle>0.15</max_angle>
          </horizontal>
          <vertical>
            <samples>1</samples>
            <resolution>1</resolution>
            <min_angle>0.0</min_angle>
            <max_angle>0.0</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.02</min>
          <max>3.0</max>
          <resolution>0.01</resolution>
        </range>
      </lidar>
      <always_on>1</always_on>
      <update_rate>20</update_rate>
      <visualize>false</visualize>
    </sensor>
  </gazebo>

  <link name="sonar_front_bumper_left">
    <visual>
      <origin xyz="0 0 0" rpy="0 1.5707 0"/>
      <geometry>
        <cylinder length="0.02" radius="0.015"/>
      </geometry>
      <material name="aquablue"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 1.5707 0"/>
      <geometry>
        <cylinder length="0.02" radius="0.015"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001"/>
    </inertial>
  </link>
  <gazebo reference="sonar_front_bumper_left">
    <sensor name="sonar_front_bumper_left" type="gpu_lidar">
      <lidar>
        <scan>
          <horizontal>
            <samples>7</samples>
            <resolution>1</resolution>
            <min_angle>-0.15</min_angle>
            <max_angle>0.15</max_angle>
          </horizontal>
          <vertical>
            <samples>1</samples>
            <resolution>1</resolution>
            <min_angle>0.0</min_angle>
            <max_angle>0.0</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.02</min>
          <max>3.0</max>
          <resolution>0.01</resolution>
        </range>
      </lidar>
      <always_on>1</always_on>
      <update_rate>20</update_rate>
      <visualize>false</visualize>
    </sensor>
  </gazebo>

  <link name="sonar_front_bumper_right">
    <visual>
      <origin xyz="0 0 0" rpy="0 1.5707 0"/>
      <geometry>
        <cylinder length="0.02" radius="0.015"/>
      </geometry>
      <material name="aquablue"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 1.5707 0"/>
      <geometry>
        <cylinder length="0.02" radius="0.015"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001"/>
    </inertial>
  </link>
  <gazebo reference="sonar_front_bumper_right">
    <sensor name="sonar_front_bumper_right" type="gpu_lidar">
      <lidar>
        <scan>
          <horizontal>
            <samples>7</samples>
            <resolution>1</resolution>
            <min_angle>-0.15</min_angle>
            <max_angle>0.15</max_angle>
          </horizontal>
          <vertical>
            <samples>1</samples>
            <resolution>1</resolution>
            <min_angle>0.0</min_angle>
            <max_angle>0.0</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.02</min>
          <max>3.0</max>
          <resolution>0.01</resolution>
        </range>
      </lidar>
      <always_on>1</always_on>
      <update_rate>20</update_rate>
      <visualize>false</visualize>
    </sensor>
  </gazebo>

  <link name="sonar_rear_bumper_center">
    <visual>
      <origin xyz="0 0 0" rpy="0 1.5707 0"/>
      <geometry>
        <cylinder length="0.02" radius="0.015"/>
      </geometry>
      <material name="aquablue"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 1.5707 0"/>
      <geometry>
        <cylinder length="0.02" radius="0.015"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001"/>
    </inertial>
  </link>
  <gazebo reference="sonar_rear_bumper_center">
    <sensor name="sonar_rear_bumper_center" type="gpu_lidar">
      <lidar>
        <scan>
          <horizontal>
            <samples>7</samples>
            <resolution>1</resolution>
            <min_angle>-0.15</min_angle>
            <max_angle>0.15</max_angle>
          </horizontal>
          <vertical>
            <samples>1</samples>
            <resolution>1</resolution>
            <min_angle>0.0</min_angle>
            <max_angle>0.0</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.02</min>
          <max>3.0</max>
          <resolution>0.01</resolution>
        </range>
      </lidar>
      <always_on>1</always_on>
      <update_rate>20</update_rate>
      <visualize>false</visualize>
    </sensor>
  </gazebo>

  <link name="sonar_rear_bumper_left">
    <visual>
      <origin xyz="0 0 0" rpy="0 1.5707 0"/>
      <geometry>
        <cylinder length="0.02" radius="0.015"/>
      </geometry>
      <material name="aquablue"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 1.5707 0"/>
      <geometry>
        <cylinder length="0.02" radius="0.015"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001"/>
    </inertial>
  </link>
  <gazebo reference="sonar_rear_bumper_left">
    <sensor name="sonar_rear_bumper_left" type="gpu_lidar">
      <lidar>
        <scan>
          <horizontal>
            <samples>7</samples>
            <resolution>1</resolution>
            <min_angle>-0.15</min_angle>
            <max_angle>0.15</max_angle>
          </horizontal>
          <vertical>
            <samples>1</samples>
            <resolution>1</resolution>
            <min_angle>0.0</min_angle>
            <max_angle>0.0</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.02</min>
          <max>3.0</max>
          <resolution>0.01</resolution>
        </range>
      </lidar>
      <always_on>1</always_on>
      <update_rate>20</update_rate>
      <visualize>false</visualize>
    </sensor>
  </gazebo>

  <link name="sonar_rear_bumper_right">
    <visual>
      <origin xyz="0 0 0" rpy="0 1.5707 0"/>
      <geometry>
        <cylinder length="0.02" radius="0.015"/>
      </geometry>
      <material name="aquablue"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 1.5707 0"/>
      <geometry>
        <cylinder length="0.02" radius="0.015"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001"/>
    </inertial>
  </link>
  <gazebo reference="sonar_rear_bumper_right">
    <sensor name="sonar_rear_bumper_right" type="gpu_lidar">
      <lidar>
        <scan>
          <horizontal>
            <samples>7</samples>
            <resolution>1</resolution>
            <min_angle>-0.15</min_angle>
            <max_angle>0.15</max_angle>
          </horizontal>
          <vertical>
            <samples>1</samples>
            <resolution>1</resolution>
            <min_angle>0.0</min_angle>
            <max_angle>0.0</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.02</min>
          <max>3.0</max>
          <resolution>0.01</resolution>
        </range>
      </lidar>
      <always_on>1</always_on>
      <update_rate>20</update_rate>
      <visualize>false</visualize>
    </sensor>
  </gazebo>

  <link name="sonar_left_side_bumper">
    <visual>
      <origin xyz="0 0 0" rpy="0 1.5707 0"/>
      <geometry>
        <cylinder length="0.02" radius="0.015"/>
      </geometry>
      <material name="aquablue"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 1.5707 0"/>
      <geometry>
        <cylinder length="0.02" radius="0.015"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001"/>
    </inertial>
  </link>
  <gazebo reference="sonar_left_side_bumper">
    <sensor name="sonar_left_side_bumper" type="gpu_lidar">
      <lidar>
        <scan>
          <horizontal>
            <samples>7</samples>
            <resolution>1</resolution>
            <min_angle>-0.15</min_angle>
            <max_angle>0.15</max_angle>
          </horizontal>
          <vertical>
            <samples>1</samples>
            <resolution>1</resolution>
            <min_angle>0.0</min_angle>
            <max_angle>0.0</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.02</min>
          <max>3.0</max>
          <resolution>0.01</resolution>
        </range>
      </lidar>
      <always_on>1</always_on>
      <update_rate>20</update_rate>
      <visualize>false</visualize>
    </sensor>
  </gazebo>

  <link name="sonar_right_side_bumper">
    <visual>
      <origin xyz="0 0 0" rpy="0 1.5707 0"/>
      <geometry>
        <cylinder length="0.02" radius="0.015"/>
      </geometry>
      <material name="aquablue"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 1.5707 0"/>
      <geometry>
        <cylinder length="0.02" radius="0.015"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001"/>
    </inertial>
  </link>
  <gazebo reference="sonar_right_side_bumper">
    <sensor name="sonar_right_side_bumper" type="gpu_lidar">
      <lidar>
        <scan>
          <horizontal>
            <samples>7</samples>
            <resolution>1</resolution>
            <min_angle>-0.15</min_angle>
            <max_angle>0.15</max_angle>
          </horizontal>
          <vertical>
            <samples>1</samples>
            <resolution>1</resolution>
            <min_angle>0.0</min_angle>
            <max_angle>0.0</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.02</min>
          <max>3.0</max>
          <resolution>0.01</resolution>
        </range>
      </lidar>
      <always_on>1</always_on>
      <update_rate>20</update_rate>
      <visualize>false</visualize>
    </sensor>
  </gazebo>

  <link name="front_left_wheel">
    <visual>
      <geometry>
        <cylinder length="0.1" radius="0.1"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.1" radius="0.1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1"/>
      <inertia ixx="0.0033" ixy="0.0" ixz="0.0" iyy="0.0033" iyz="0.0" izz="0.005"/>
    </inertial>
  </link>
  <gazebo reference="front_left_wheel">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <fdir1>0 0 1</fdir1>
  </gazebo>

  <link name="front_right_wheel">
    <visual>
      <geometry>
        <cylinder length="0.1" radius="0.1"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.1" radius="0.1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1"/>
      <inertia ixx="0.0033" ixy="0.0" ixz="0.0" iyy="0.0033" iyz="0.0" izz="0.005"/>
    </inertial>
  </link>
  <gazebo reference="front_right_wheel">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <fdir1>0 0 1</fdir1>
  </gazebo>

  <link name="rear_left_wheel">
    <visual>
      <geometry>
        <cylinder length="0.1" radius="0.1"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.1" radius="0.1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1"/>
      <inertia ixx="0.0033" ixy="0.0" ixz="0.0" iyy="0.0033" iyz="0.0" izz="0.005"/>
    </inertial>
  </link>
  <gazebo reference="rear_left_wheel">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <fdir1>0 0 1</fdir1>
  </gazebo>

  <link name="rear_right_wheel">
    <visual>
      <geometry>
        <cylinder length="0.1" radius="0.1"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.1" radius="0.1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1"/>
      <inertia ixx="0.0033" ixy="0.0" ixz="0.0" iyy="0.0033" iyz="0.0" izz="0.005"/>
    </inertial>
  </link>
  <gazebo reference="rear_right_wheel">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <fdir1>0 0 1</fdir1>
  </gazebo>

  <link name="front_left_wheel_steering_link">
    <visual>
      <geometry>
        <cylinder length="0.03" radius="0.02"/>
      </geometry>
      <material name="white"/>
    </visual>
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.0000175" ixy="0.0" ixz="0.0" iyy="0.0000175" iyz="0.0" izz="0.00002"/>
    </inertial>
  </link>

  <link name="front_right_wheel_steering_link">
    <visual>
      <geometry>
        <cylinder length="0.03" radius="0.02"/>
      </geometry>
      <material name="white"/>
    </visual>
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.0000175" ixy="0.0" ixz="0.0" iyy="0.0000175" iyz="0.0" izz="0.00002"/>
    </inertial>
  </link>

  <link name="front_axle">
    <visual>
      <origin xyz="0 0 0" rpy="-1.5707 0 0"/>
      <geometry>
        <cylinder length="0.44" radius="0.02"/>
      </geometry>
      <material name="white"/>
    </visual>
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.0113" ixy="0.0" ixz="0.0" iyy="0.0113" iyz="0.0" izz="0.0001"/>
    </inertial>
  </link>

  <link name="rear_axle">
    <visual>
      <origin xyz="0 0 0" rpy="-1.5707 0 0"/>
      <geometry>
        <cylinder length="0.52" radius="0.02"/>
      </geometry>
      <material name="white"/>
    </visual>
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.0113" ixy="0.0" ixz="0.0" iyy="0.0113" iyz="0.0" izz="0.0001"/>
    </inertial>
  </link>

  <link name="stereo_camera_holder">
    <visual>
      <geometry>
        <box size="0.04 0.25 0.06"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.04 0.25 0.06"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.0113" ixy="0.0" ixz="0.0" iyy="0.0113" iyz="0.0" izz="0.0001"/>
    </inertial>
  </link>

  <link name="left_camera">
    <visual>
      <geometry>
        <box size="0.04 0.04 0.04"/>
      </geometry>
      <material name="white"/>
    </visual>
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.0113" ixy="0.0" ixz="0.0" iyy="0.0113" iyz="0.0" izz="0.0001"/>
    </inertial>
  </link>
  <gazebo reference="left_camera">
    <sensor name="left_camera" type="camera">
      <camera>
        <horizontal_fov>1.1519</horizontal_fov>
        <image>
          <width>768</width>
          <height>432</height>
        </image>
        <clip>
          <near>0.1</near>
          <far>100</far>
        </clip>
      </camera>
      <always_on>1</always_on>
      <update_rate>30</update_rate>
      <visualize>false</visualize>
    </sensor>
  </gazebo>

  <link name="right_camera">
    <visual>
      <geometry>
        <box size="0.04 0.04 0.04"/>
      </geometry>
      <material name="white"/>
    </visual>
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.0113" ixy="0.0" ixz="0.0" iyy="0.0113" iyz="0.0" izz="0.0001"/>
    </inertial>
  </link>
  <gazebo reference="right_camera">
    <sensor name="right_camera" type="camera">
      <camera>
        <horizontal_fov>1.1519</horizontal_fov>
        <image>
          <width>768</width>
          <height>432</height>
        </image>
        <clip>
          <near>0.1</near>
          <far>100</far>
        </clip>
      </camera>
      <always_on>1</always_on>
      <update_rate>30</update_rate>
      <visualize>false</visualize>
    </sensor>
  </gazebo>

  <link name="imu_sensor">
    <visual>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
      <material name="aquablue"/>
    </visual>
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.0113" ixy="0.0" ixz="0.0" iyy="0.0113" iyz="0.0" izz="0.0001"/>
    </inertial>
  </link>
  <gazebo reference="imu_sensor">
    <sensor name="imu_sensor" type="imu">
      <always_on>1</always_on>
      <update_rate>50</update_rate>
      <visualize>true</visualize>
    </sensor>
  </gazebo>

  <!-- joints section -->
  <joint name="footprint_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 0.1" rpy="0 0 0"/>
  </joint>

  <joint name="dummy_chassis_joint" type="fixed">
    <parent link="base_link"/>
    <child link="chassis"/>
  </joint>

  <joint name="front_bumper_center_joint" type="fixed">
    <origin xyz="0.49 0 0" rpy="0 0 0"/>
    <parent link="chassis"/>
    <child link="front_bumper_center"/>
  </joint>

  <joint name="front_bumper_left_joint" type="fixed">
    <origin xyz="0.4719 0.2376 0" rpy="0 0 0.2618"/>
    <parent link="chassis"/>
    <child link="front_bumper_left"/>
  </joint>

  <joint name="front_bumper_right_joint" type="fixed">
    <origin xyz="0.4719 -0.2376 0" rpy="0 0 -0.2618"/>
    <parent link="chassis"/>
    <child link="front_bumper_right"/>
  </joint>

  <joint name="rear_bumper_center_joint" type="fixed">
    <origin xyz="-0.49 0 0" rpy="0 0 0"/>
    <parent link="chassis"/>
    <child link="rear_bumper_center"/>
  </joint>

  <joint name="rear_bumper_left_joint" type="fixed">
    <origin xyz="-0.4719 0.2376 0" rpy="0 0 -0.2618"/>
    <parent link="chassis"/>
    <child link="rear_bumper_left"/>
  </joint>

  <joint name="rear_bumper_right_joint" type="fixed">
    <origin xyz="-0.4719 -0.2376 0" rpy="0 0 0.2618"/>
    <parent link="chassis"/>
    <child link="rear_bumper_right"/>
  </joint>

  <joint name="left_side_bumper_joint" type="fixed">
    <origin xyz="0.0 0.295 0" rpy="0 0 0"/>
    <parent link="chassis"/>
    <child link="left_side_bumper"/>
  </joint>

  <joint name="right_side_bumper_joint" type="fixed">
    <origin xyz="0.0 -0.295 0" rpy="0 0 0"/>
    <parent link="chassis"/>
    <child link="right_side_bumper"/>
  </joint>

  <joint name="sonar_front_bumper_center_joint" type="fixed">
    <origin xyz="0.02 0 0" rpy="0 0 0"/>
    <parent link="front_bumper_center"/>
    <child link="sonar_front_bumper_center"/>
  </joint>

  <joint name="sonar_front_bumper_left_joint" type="fixed">
    <origin xyz="0.02 0 0" rpy="0 0 0"/>
    <parent link="front_bumper_left"/>
    <child link="sonar_front_bumper_left"/>
  </joint>

  <joint name="sonar_front_bumper_right_joint" type="fixed">
    <origin xyz="0.02 0 0" rpy="0 0 0"/>
    <parent link="front_bumper_right"/>
    <child link="sonar_front_bumper_right"/>
  </joint>

  <joint name="sonar_rear_bumper_center_joint" type="fixed">
    <origin xyz="-0.02 0 0" rpy="0 0 3.1416"/>
    <parent link="rear_bumper_center"/>
    <child link="sonar_rear_bumper_center"/>
  </joint>

  <joint name="sonar_rear_bumper_left_joint" type="fixed">
    <origin xyz="-0.02 0 0" rpy="0 0 3.1416"/>
    <parent link="rear_bumper_left"/>
    <child link="sonar_rear_bumper_left"/>
  </joint>

  <joint name="sonar_rear_bumper_right_joint" type="fixed">
    <origin xyz="-0.02 0 0" rpy="0 0 3.1416"/>
    <parent link="rear_bumper_right"/>
    <child link="sonar_rear_bumper_right"/>
  </joint>

  <joint name="sonar_left_side_bumper_joint" type="fixed">
    <origin xyz="0 0.02 0" rpy="0 0 1.5707"/>
    <parent link="left_side_bumper"/>
    <child link="sonar_left_side_bumper"/>
  </joint>

  <joint name="sonar_right_side_bumper_joint" type="fixed">
    <origin xyz="0 -0.02 0" rpy="0 0 -1.5707"/>
    <parent link="right_side_bumper"/>
    <child link="sonar_right_side_bumper"/>
  </joint>

  <joint name="front_left_wheel_steering_joint" type="revolute">
    <!-- <origin xyz="0 0.26 0" rpy="0 0 0"/> -->
    <origin xyz="0 0.22 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit effort="25" lower="-0.6" upper="0.6" velocity="1.2"/>
    <parent link="front_axle"/>
    <child link="front_left_wheel_steering_link"/>
  </joint>

  <joint name="front_right_wheel_steering_joint" type="revolute">
    <!-- <origin xyz="0 -0.26 0" rpy="0 0 0"/> -->
    <origin xyz="0 -0.22 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit effort="25" lower="-0.6" upper="0.6" velocity="1.2"/>
    <parent link="front_axle"/>
    <child link="front_right_wheel_steering_link"/>
  </joint>

  <joint name="front_left_wheel_joint" type="continuous">
    <!-- <origin xyz="0 0 0" rpy="-1.5707 0 0"/> -->
    <origin xyz="0 0.04 0" rpy="-1.5707 0 0"/>
    <axis xyz="0 0 1"/>
    <parent link="front_left_wheel_steering_link"/>
    <child link="front_left_wheel"/>
  </joint>

  <joint name="front_right_wheel_joint" type="continuous">
    <!-- <origin xyz="0 0 0" rpy="-1.5707 0 0"/> -->
    <origin xyz="0 -0.04 0" rpy="-1.5707 0 0"/>
    <axis xyz="0 0 1"/>
    <parent link="front_right_wheel_steering_link"/>
    <child link="front_right_wheel"/>
  </joint>

  <joint name="rear_left_wheel_joint" type="continuous">
    <origin xyz="0 0.26 0" rpy="-1.5707 0 0"/>
    <axis xyz="0 0 1"/>
    <parent link="rear_axle"/>
    <child link="rear_left_wheel"/>
  </joint>

  <joint name="rear_right_wheel_joint" type="continuous">
    <origin xyz="0 -0.26 0" rpy="-1.5707 0 0"/>
    <axis xyz="0 0 1"/>
    <parent link="rear_axle"/>
    <child link="rear_right_wheel"/>
  </joint>

  <joint name="front_axle_joint" type="fixed">
    <origin xyz="0.3 0 0" rpy="0 0 0"/>
    <parent link="chassis"/>
    <child link="front_axle"/>
  </joint>

  <joint name="rear_axle_joint" type="fixed">
    <origin xyz="-0.3 0 0" rpy="0 0 0"/>
    <parent link="chassis"/>
    <child link="rear_axle"/>
  </joint>

  <joint name="stereo_camera_holder_joint" type="fixed">
    <origin xyz="0.3 0 0.25" rpy="0 0 0"/>
    <parent link="chassis"/>
    <child link="stereo_camera_holder"/>
  </joint>

  <joint name="left_camera_joint" type="fixed">
    <origin xyz="0.02 0.09 0" rpy="0 0 0"/>
    <parent link="stereo_camera_holder"/>
    <child link="left_camera"/>
  </joint>

  <joint name="right_camera_joint" type="fixed">
    <origin xyz="0.02 -0.09 0" rpy="0 0 0"/>
    <parent link="stereo_camera_holder"/>
    <child link="right_camera"/>
  </joint>

  <joint name="imu_sensor_joint" type="fixed">
    <origin xyz="0.32 0 0.08" rpy="0 0 0"/>
    <parent link="chassis"/>
    <child link="imu_sensor"/>
  </joint>

  <!-- plugins section -->

  <gazebo>
    <plugin
      filename="gz-sim-joint-state-publisher-system"
      name="gz::sim::systems::JointStatePublisher">
      <joint_name>front_left_wheel_steering_joint</joint_name>
      <joint_name>front_right_wheel_steering_joint</joint_name>
      <joint_name>front_left_wheel_joint</joint_name>
      <joint_name>front_right_wheel_joint</joint_name>
      <joint_name>rear_left_wheel_joint</joint_name>
      <joint_name>rear_right_wheel_joint</joint_name>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin
      filename="gz-sim-joint-position-controller-system"
      name="gz::sim::systems::JointPositionController">
      <joint_name>front_left_wheel_steering_joint</joint_name>
      <p_gain>3</p_gain>
      <i_gain>0.1</i_gain>
      <d_gain>0.5</d_gain>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin
      filename="gz-sim-joint-position-controller-system"
      name="gz::sim::systems::JointPositionController">
      <joint_name>front_right_wheel_steering_joint</joint_name>
      <p_gain>3</p_gain>
      <i_gain>0.1</i_gain>
      <d_gain>0.5</d_gain>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin
      filename="gz-sim-joint-controller-system"
      name="gz::sim::systems::JointController">
      <joint_name>rear_left_wheel_joint</joint_name>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin
      filename="gz-sim-joint-controller-system"
      name="gz::sim::systems::JointController">
      <joint_name>rear_right_wheel_joint</joint_name>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin
      filename="gz-sim-odometry-publisher-system"
      name="gz::sim::systems::OdometryPublisher">
      <xyz_offset>0 0 0 0 0 0</xyz_offset>
      <odom_publish_frequency>15</odom_publish_frequency>
      <robot_base_frame>base_link</robot_base_frame>
      <odom_frame>sim_odom</odom_frame>
      <dimensions>2</dimensions>
    </plugin>
  </gazebo>

  <!-- <gazebo>
    <plugin
      filename="ignition-gazebo-ackermann-steering-system"
      name="gz::sim::systems::AckermannSteering">
      <left_joint>front_left_wheel_joint</left_joint>
      <left_joint>rear_left_wheel_joint</left_joint>
      <right_joint>front_right_wheel_joint</right_joint>
      <right_joint>rear_right_wheel_joint</right_joint>
      <left_steering_joint>front_left_wheel_steering_joint</left_steering_joint>
      <right_steering_joint>front_right_wheel_steering_joint</right_steering_joint>
      <kingpin_width>0.52</kingpin_width>
      <steering_limit>0.5</steering_limit>
      <wheel_base>0.6</wheel_base>
      <wheel_separation>0.52</wheel_separation>
      <wheel_radius>0.1</wheel_radius>
      <min_velocity>-1</min_velocity>
      <max_velocity>1</max_velocity>
      <min_acceleration>-3</min_acceleration>
      <max_acceleration>3</max_acceleration>
      <odom_topic>/model/autonomous_vehicle/odometry/ackermann</odom_topic>
      <frame_id>odom</frame_id>
    </plugin>
  </gazebo> -->
</robot>
